ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {
    display: inline;
    a {
        color: black;
        float: left;
        padding: 8px 9px;
        text-decoration: none;
    }
    &.active {
        font-weight: bold
    }
    &.disabled {
        a {
          color: #CCCCCC;
        }
    }
}

